#image {
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
}
#field {
	position: absolute;
	z-index: 50;
	left: 240px;
	top: 20px;
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}
#newBlock {
	position: absolute;
	z-index: 50;
	left: 604px;
	top: 94px;
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}
#next {
	position: absolute;
	z-index: 50;
	left: 604px;
	top: 64px;
	color: #ffffff;
}
#scoreBackGround {
	position: absolute;
	z-index: 25;
	left: 604px;
	top: 324px;
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}
#score {
	position: absolute;
	z-index: 50;
	left: 614px;
	top: 334px;
}
#scoreBord {
	position: absolute;
	z-index: 50;
	left: 624px;
	top: 354px;
}
#canvas {
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
}
#replay {
	position: absolute;
	z-index: 100;
	left: 70;
	top: 20;
	width: 100;
}
#result {
	position: absolute;
	z-index: 100;
	left: 260;
	top: 176;
}
